
prospero.ecohealthalliance.org:22051 {

  tls off
  gzip
  markdown
  log

  proxy /status netdata:19999 {
    without /status
    header_upstream  Host {host}/status
    transparent
  }
  redir /status /status/ 307
  
}


#prospero.ecohealthalliance.org:22051/rstudio {
#  tls off
#  proxy / rstudio:8787 {
#    transparent
#    websocket
#  }
#  rewrite / {
#    regexp ^/rstudio/(.*)$
#    to /{1}
#}